<% content_for :context_menu do %>
	<% if @page %>
		<% if @page.has_children? %>
			<h2><%= @page.nickname %></h2>
			<ul>
		  <% for page in @page.children %>
		    <%= content_tag :li, link_to(page.nickname, page) %>
		  <% end %>
			</ul>
		<% end %>

		<% if !@page.orphan? && @page.has_siblings? %>
			<h2><%= link_to @page.parent.nickname, @page.parent %></h2>
			<ul>
		  <% for page in @page.siblings %>
		    <%= content_tag :li, link_to(page.nickname, page) %>
		  <% end %>
			</ul>
		<% end %>
	<% end -%>
<% end -%>