<% if I18n.available_locales.size > 1 %>

	<div class="btn-group">
	  <a class="btn btn-medium btn-primary btn-success dropdown-toggle" data-toggle="dropdown" href="#"><%= t('full_name') %>&nbsp;<span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	  	<% for loc in I18n.available_locales %>
	    	<%= content_tag( :li, link_to( t('full_name', locale: loc), :locale => loc ))  unless loc.to_s == I18n.locale.to_s %>
	  	<% end %>
	  </ul>
  </div>

<% end -%>
<br />